<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
</head>
<style>
    table {
        width: 70%;
        border-collapse: collapse;
    }
    thead {
        text-align: left;
    }
    th,td {
        border: 1px solid black;
    }
</style>
<body>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Ism</th>
                <th>Familiyasi</th>
                <th>Yoshi</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Nurillo</td>
                <td>Mahmudjonov</td>
                <td>23</td>
            </tr>
        </tbody>
    </table>
    <h3>ordered list</h3>
    <ol>
        <li>Nurillo</li>
        <li>Abdullox</li>
        <li>Jeck</li>
    </ol>
    <h3>unordered list</h3>
    <ul>
        <li>Nurillo</li>
        <li>Abdullox</li>
        <li>Jeck</li>
    </ul>
</body>
</html>