<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="blog,test,">
    <meta name="description" content="lorem100">
    <meta name="author" content="Nurillo Mahmudjonov">
    <title>Document</title>
</head>
<body>
    <!--header section-->
    <header class="main-header">
        <nav class="main-navigation">
            <ul class="main-navigation__items">
                <li class="main-navigation__item">
                    <a href="#">Home</a>
                </li>
                <li class="main-navigation__item">
                    <a href="#">Blog</a>
                </li>
                <li class="main-navigation__item">
                    <a href="#">About</a>
                </li>
                <li class="main-navigation__item">
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <!--/header section-->

    <!--home section-->
    <section id="home">
        <h1>Home</h1>
    </section>
    <!--/home section-->

    <!--blog section-->
    <section id="blog">
        <h1>Blog</h1>
    </section>
    <!--/blog section-->

    <!--about section-->
    <section id="about">
        <h1>About</h1>
    </section>
    <!--/about section-->

    <!--contact section-->
    <section id="Contact">
        <h1>Contact</h1>
    </section>
    <!--/contact section-->

    <!--footer section-->
    <footer class="main-footer">
        <nav class="main-navigation">
            <ul class="main-navigation__items">
                <li class="main-navigation__item">
                    <a href="#">Home</a>
                </li>
                <li class="main-navigation__item">
                    <a href="#">Blog</a>
                </li>
                <li class="main-navigation__item">
                    <a href="#">About</a>
                </li>
                <li class="main-navigation__item">
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
    </footer>
    <!--/footer section-->
</body>
</html>